{{ $ := .root }}
{{ $page := .page }}

<div class="section-heading">
  {{ with $page.Title }}
  <h1>{{ . | markdownify | emojify }}</h1>
  {{ if $page.Params.subtitle }}<p>{{ $page.Params.subtitle | markdownify | emojify }}</p>{{ end }}
  {{ end }}
</div>

<div class="row featurette">
  {{ with $page.Content }}
  <div class="col-md-12">
    {{ . }}
  </div>
  {{ end }}
  
  
  
  {{ range $page.Params.feature }}
  {{ $pack := or .icon_pack "fas" }}
  {{ $pack_prefix := $pack }}
  {{ if in (slice "fab" "fas" "far" "fal") $pack }}
    {{ $pack_prefix = "fa" }}
  {{ end }}
  <div class="col-12 col-md-3">
    <div class="card">
      {{ with .icon }}<div class="featurette-icon"><i class="{{ $pack }} {{ $pack_prefix }}-{{ . }}"></i></div>{{ end }}
      <h5>{{ .name | markdownify | emojify }}</h5>
      {{ with .description }}<p>{{ . | markdownify | emojify }}</p>{{ end }}
    </div>
  </div>
  {{ end }}
</div>
