/* COMPACT ABOUT WIDGET:*/
.wg-about-compact {
  width: 100%;
  color: #f8f8f2;
}

.wg-about-compact .avatar {
  width: 135px;
  height: 135px;
}

.wg-about-compact .see-all {
  margin-top: 0rem;
  text-transform: uppercase;
}

/* Article list */
.media body .see-all {
  margin-top: 0rem;
  text-transform: uppercase;
}

.stream-meta .article-metadata {
  margin-bottom: 0px;
}

.article-style {
  margin-bottom: 10px;
}


/* Badges on article pages - need a white background in dark mode */
.dark .altmetric-box {
  display: flex; 
  justify-content: space-around;
  color: black;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  border-radius: 25px;
}

/*OTHER: */
.avatar-circle {
  border-radius: 10%;
}

.wg-recent-publications .article-banner {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
  height: auto;
}

.featurette-icon {
  font-size: 2rem;
}

.featurette .card {
  padding: 10px 5px 10px 5px;
  width: 100%;
  height: 8rem;
}

.wg-datasets .section-heading {
  margin-bottom: 1em;
}


.logo-row {
  display: flex; 
  justify-content: space-evenly;
}

.logo-group {
  padding-left: 10px;
  padding-right: 10px;
  background-color: #fff;
}

.middle-logo {
  padding-left: 12px;
  padding-right: 0px;
}


/* Youtube embeds on media page - need a dynamic size and lazy loading */
.youtube-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  margin-top: 1em;
}

.youtube-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
}


/* DATA PAGES: */
/* Dataset container size */
.dataset-container {
    max-width: 80%;
    padding: 0 20px 0 20px;
    margin: 0 auto 0 auto;
  }


/* Fix visibility in selected rows (this is being overriden by striping, 
  so make stripe colours transparent */

/*  - Light*/
table > tbody > tr:nth-child(odd) > td,
table > tbody > tr:nth-child(odd) > th {
  background-color: rgba($black, .05);
}


/*  - Dark*/
.dark table {
  background-color: rgb(50, 52, 64);
  color: white;
}

.dark table > tbody > tr:nth-child(odd) > td,
.dark table > tbody > tr:nth-child(odd) > th {
  background-color: rgba(40, 40, 40, 0.7);
}

/*   - Table Hover - must be applied after colour changes above */
table > tbody > tr:hover > td,
table > tbody > tr:hover > th {
  background-color: #e5e5e5;
}

.dark table > tbody > tr:hover > td,
.dark table > tbody > tr:hover > th {
  background-color: rgb(60, 62, 74);
}


/* Datatables - make control elements smaller */
.dataTables_info {
  font-size: 0.7em;
}

.search {
  font-size: 0.93em;
}

.clearButton, 
.nameButton,
.countButton {
  line-height: 1.22em;
}

.paginate_button {
  font-size: 0.7em;
}

.filterbox {
  font-size: 0.9em;
}


/* Datatables - fix search pane */
.table {
  display: table;
}

.badge-pill {
  margin-left: 1.5em;
  margin-right: 0.1em;
}