<footer class="site-footer">
    <div class="row logo-row">
      
      <div class="col-sm-">
        <div class="row logo-group">
          <a class="col-sm-" href="https://mrc.ukri.org/">
            <img border="1" alt="MRC" src="{{ "img/logos/mrc_logo.png" | absURL }}" width="130" height="50">
          </a>
          
          <a class="col-sm- middle-logo" href="https://www.glasgow.ac.uk">
            <img border="1" alt="University of Glasgow" src="{{ "img/logos/ug_logo.png" | absURL }}" width="130" height="50">
          </a>
          
          <a class="col-sm-" href="https://www.gla.ac.uk/researchinstitutes/iii/cvr/">
            <img border="1" alt="Centre for Virus Research" src="{{ "img/logos/cvr_logo.png" | absURL }}" width="130" height="50">
          </a>
        </div>
      </div>
      
    </div>
    
    &nbsp;
    
    {{ if or (site.GetPage "terms.md") (site.GetPage "privacy.md") }}
    
    <p class="powered-by">
      {{ with site.GetPage "privacy.md" }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
      {{ with site.GetPage "terms.md" }}
        {{ if site.GetPage "privacy.md" }} &middot; {{ end }}
        {{ printf "<a href=\"%s\">%s</a>" .RelPermalink .Title | safeHTML }}
      {{ end }}
    </p>
    {{ end }}
      
  </footer>
  